/*Estilos para todos los elementos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}
li{list-style: none;}
/*Fin de los estilos que aplican para todos los elementos*/

/*Custom Propities*/
:root{
  /*Colores de Google*/
  --danger:#d93e4c;
  --success:#28a745;
  --light:#f2f2f2;

  --text:#2d3436;
  --title: #131313;
  --background: #e9e9e9;
  
  --primary:#57a4ff;
  --secondary: #2d3436;
  --tertiary:#dfe6e9;
  --gray: #dfe6e9;
}
/*FIN de las Customs Propities*/


/*Estilos para los elementos principales*/
html {
  scroll-behavior: smooth;
}
body{
  background: var(--background);
  min-height: 100vh;
}
h1, h2, h3, h4, th{
  font-family: 'Roboto Slab', sans-serif;
  font-display: fallback;
  color: var(--title);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1{
  font-size: 30px;
}
p, li, a, input, select, button, label,td,i{
  font-family: 'Poppins', sans-serif;
  font-display: fallback;
  color:var(--text);
  font-size: 16px;
  letter-spacing: .6px;
  font-weight: 300;
}
/*Fin de los estilos principales*/


/*Media queries - Globales*/
@media (max-width: 500px){
  h1{
    font-size: 18px;
  }
  h1, h2, h3, h4, th{
    font-size: 18px;
  }
  p, li, a, input, select, button, label,td{
    font-size: 14px;
  }
}





/*KEYFRAMES*/
@keyframes moverIzquierda{
    /*Animación de izquiera a derecha*/
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverDerecha{
    /*Animación de derecha a izquierda*/
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba{
    /*Animación de abajo a arriba*/
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverAbajo{
    /*Animación de arriba a abajo*/
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes desvanecer{
    /*Animación para manifestar un elemento que se encuentra oculto*/
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*FIN DE LOS KEYFRAMES*/