/*Importar Estilos*/
@import url("./layout.css");
@import url("./nav.css");

.hidden{
	display: none;
}

.layout{
	min-width: 100vh;
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: 270px 1fr;
	width: 100%;
}

.header{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	background-color: rgba(10, 10, 10, 1);
	width: 100%;
	height: 400px;
}

.header__wallpaper{
	grid-row: 1/2;
	grid-column: 1/2;
}
.header__title{
	grid-row: 1/2;
	grid-column: 1/2;
	margin: auto;
	background: var(--tertiary);
	padding: 10px 50px;
	text-align: center;
	color: var(--text);
	border-radius: 2px;
	box-shadow:  0px 1px 7px -2px rgba(46,52,64,1);
	max-width: 90%;
}
.header__sabana{
	grid-row: 1/2;
	grid-column: 1/2;
	background: rgba(10, 10, 10, .4);
}
.header__wallpaper img{
	width: 100%;
	height: 400px;
	display: block;
	object-fit: cover;
	position: bottom;
}
.ruta{
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	width: 100%;
}
.ruta_itemBlock{
	display: flex;
}
.ruta__item{
	color: var(--primary);
	font-weight: 500;
}

/*Main*/
.main{
	width: 100%;
}
.article{
	width: 85%;
	margin: 25px auto;
	background: var(--gray);
	padding: 20px 16px;
	border: 2px solid var(--text);
	border-top: transparent;
	border-bottom: transparent;
	
	display: grid;
	grid-row-gap: 20px;
}

.section__information{
	padding: 10px 20px;
	text-align: justify;
	letter-spacing: 1.2px;
	word-spacing: 1px;
	line-height: 22px;
}
.section__cajaReferences{
	padding: 10px 60px;
	display: grid;
	grid-row-gap: 4px;
}
.section__cajaReferences li{
	list-style: inherit;
}
.section__subTitle{
	font-size: 16px;
	border-bottom: 2px solid var(--primary);
	max-width: 300px;
}

.tags{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	grid-gap: 20px;
}

.tags__tag{
	width: 240px;
	height: 80px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;

	background: var(--light);
	padding: 2px 15px;
	border-radius: 4px;
	box-shadow: 2px 2px 8px 0px rgba(209, 202, 202, 0.7);
	transition: all .5s;
	border: 2px solid transparent;
	border-bottom: 6px solid var(--background);
}
.tags__tag:hover{
	transform: translateY(-5px);
	transition: all .5s;
	border: 2px solid var(--primary);
	border-bottom: 6px solid var(--primary);
	box-shadow: 4px 4px 12px 0px rgba(209, 202, 202, 1);
}

.tags__img{
	width: 60px;
	height: 60px;
	display: block;
	object-fit: cover;
}

.tag__title{
	font-size: 16px;
	text-align: center;
}
@media (max-width: 768px){
	  .nav__button_menu{
		display: grid;
		grid-template-columns: repeat(2, max-content);
		grid-template-rows: max-content;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		width: 100%;
		background-image: url("../img/fondo_nav.png");
		box-shadow: .5px .5px 4px 0px rgba(10, 10, 10, .5);
		z-index: 1;
	}
	#nav_icon_burger, #nav_icon_xmark{
		grid-row: 1/2;
		grid-column: 2/3;
		padding: 5px 0;
		font-size: 25px;
		line-height: 1.25px;
		text-align: center;
		margin-top: 5px;
		color: var(--light);
	}
	.layout{
		min-width: 100%;
		display: flex;
		width: 100%;
	}
	.nav{
		margin-top: 5px;
		height: 100%;
		position: fixed;
		overflow-y: scroll;
		margin-top: 5px;
		animation: moverIzquierda .5s;
	}

	.ruta{
		display: block;
	}
}


@media (max-width: 400px){
	.section__title{
		max-width: 90%;
	}
	.section__information{
		padding: 10px 10px;
	}
	.section__subTitle{
		max-width: 70%;
	}
	.article{
		width: 95%;
		padding: 20px 0px;
		padding-left: 10px;
	}
	.section__cajaReferences{
		padding: 10px 0;
	}
	.section__cajaReferences li{
		max-width: 90%;
		font-size: 12px;
		list-style: none;
	}
}