{% extends "layout.html" %}

{% block content %}
{% for key, value in datos["body"].items() %}
		<section class="introduccion">
			<div class="titleH3">
				<h3>{{ key }}</h3>
			</div>
			<div class="introParrafo subtext">
				<p>
					{% if value[0] != Null %}
					{{ value }}
					{% else %}
						{% for llave, valor in value.items() %}
							<div class="titleH3">
								<h4>{{ llave }}</h4>
							</div>
							<div class="introParrafo">
								<p>{{ valor }}</p>
							</div>
						{% endfor %}
					{% endif %}
				</p>
			</div>
		</section>
	{% endfor %}
		<section class="content">
			<div class="titleH3">
				<h3>Tecnologias Relacionada con <span class="white">{{ datos["name"] }}</span></h3>
			</div>
			<div class="tarjetas">
				{% for key, value in tarjetas.items() %}
					<a href="{{ url_for('tecnologia', tecnologia = key.replace(' ', '_')) }}">
					<div class="target">
						<div class="target_image">
							<img src="../static/img/{{ value }}" alt="Logo de {{ key }} desde Infover">
						</div>
						<div class="info_target">
							<h4>{{ key }}</h4>
						</div>
					</div>
					</a>
				{% endfor %}
			</div>
		</section>
{% endblock %}