{% extends "layout.html" %}
{% from "_nav.html" import nav %}
{% from "_macro.html" import main %}
{% from "_macro.html" import contain %}
{% from "_macro.html" import introduction %}
{% from "_macro.html" import finale %}
{% from "_body.html" import body_index %}
{% from "_ruta.html" import ruta %}

	{% block nav %}
	{{ nav(Author) }}
	{% endblock %}

	{% block main %}
	{{ main(Author) }}
	<div class="article">
	{{ ruta() }}
	{{ introduction(Author) }}
	{{ body_index(Author, Tag, Theme) }}
	{{ finale(Author) }}	
	</div>
	{% endblock %}	