<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="author" content="Yilver Quevedo">
	<meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- Title -->
	<title>{{ title }} - Infover</title>
	
	<!-- Estilos -->
    <link rel="shortcut icon" type="image/x-icon"  href="{{ url_for('static', filename='img/favicon.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/main.css') }} ">
	{% block styles %}
	{% endblock %}

	<!-- Fuentes de Google -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto+Slab&display=swap" rel="stylesheet"> 

	<!-- CDN de Iconos -->
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>
<body class="layout">
	<div class="nav__button_menu hidden">
      <a href="/"><h2 class="nav__title"><span class="nav__title--bold">Info</span>ver</h2></a>
      <i class="fi fi-br-menu-burger" id="nav_icon_burger"></i>
      <i class="fi fi-br-cross" id="nav_icon_xmark"></i>
   </div>
	<!-- Nav -->
	<nav class="nav">
	{% block nav %}
	{% endblock %}
	</nav>

	<!-- Contenido Principal -->
	<div class="main">
		{% block main %}
		{% endblock %}	
	</div>

	<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
</body>
</html>