{% extends "layout.html" %}
{% from "_nav.html" import nav %}
{% from "_macro.html" import main %}
{% from "_macro.html" import contain %}
{% from "_macro.html" import introduction %}
{% from "_macro.html" import finale %}
{% from "_macro.html" import references %}
{% from "_body.html" import body_theme %}
{% from "_ruta.html" import ruta %}


	{% block nav %}
	{{ nav(Theme) }}
	{% endblock %}

	{% block main %}
	{{ main(Theme) }}
	<div class="article">
	{{ ruta(Tag, Theme) }}
	{{ introduction(Theme) }}
	{{ body_theme(Theme, type) }}
	{{ finale(Theme) }}	
	{{ references(Theme) }}
	</div>
	{% endblock %}	